*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat", sans-serif;
}

body{
 min-height: 100vh;
 background-color: #1f4068;

}

h2{
  padding: 18px;
  color: #dbdbdb;
  font-size: xx-large;
  text-align: center;
}
.App{
  
  margin:  50px auto;
  width: 80%;
  padding: 30px;
}

.form-input{
 float: left;
 margin-bottom: 30px;
 width: 82%;
 border: none;
 border-bottom: 2px solid #000;
 background: none;
 padding: 10px;
 outline: none;
 font-size: 22px;
 color: #dbdbdb;
 font-weight: bold;
}

.todo-list{
  width: 100%;
  background-color: rgba(255, 255, 255, .5); 
  padding: 10px;
  margin: 8px 0;
  overflow: hidden;
 font-weight: bold;
 font-size: 22px;
}

.todo-list i{
  float: right;
  margin-left: 20px;
  cursor: pointer;
}

.myButton {
 margin-bottom: 30px;
 opacity: .8;
 width: 15%;
 float: right;
 background-color:#1b1b2f;
 border-radius:28px;
 border-color:#dbdbdb ;
 cursor:pointer;
 color:#dbdbdb;
 font-size:19px;
 padding:7px 11px;
}
.myButton:hover {
 opacity: 1;
}
.myButton:active {
 position:relative;
 top:1px;
}
.navbar{
 width: 85vw;
 margin-bottom: 5%;
}
.list{
 justify-content: center;
 display: flex;
 flex-direction: row;
 }
 ul a {
 
   text-decoration: none;
   color: #000;
   margin-right: 100px;
 }
 .active{
   color: #dbdbdb;
 }

 .clearAllBtn{
  margin-top: 1%;
  float: right;
  opacity: .8;
  width: 25%;
  background-color:#202040;
  border-radius:28px;
  border-color:#dbdbdb ;
  cursor:pointer;
  color:#dbdbdb;
  font-size:19px;
  padding:7px 11px;
 }

 .Done-todos{
  margin:  50px auto;
  width: 80%;
  padding: 30px;

 }